page-home {
  h3{
    margin-top: 8px !important;
    margin-bottom: 25px;
    text-align: center;
  }

  img{
    width: 400px;
    height: 300px;
    border-radius: 20%;
    align-items: center;
  }
}
